<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag "demo2" %>
</head>

<body>
  
  <div class="dialog">
  	<h1>Just for existence.</h1>
    <h2>Sorry, the page you were looking for doesn&#8217;t have more contents.</h2>
    <p>Go back to <a href="/">主页</a> or go somewhere you would like to.</p>
  </div>
</body>
</html>
