<body>
<p>&nbsp;</p>
<table width="620"  align="center" cellpadding="0" cellspacing="0">
  
  <tr>
    <td class="td"><span class="title">我能吐槽吗</span></td>
  </tr>
 
</table>
<table width="620" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  
  <tr>
    <td height="72" class="content" style="padding-top:8px;padding-bottom:8px;padding-left:6px;padding-right:6px">   <dic class="content"><p>Web 前端真心让我很受伤，改来改去，越发找不到头绪了，本人矬的一面彻底展露，推到，放着...尼马，只能先放着了...
      <br />
        　CSS，js，jquery是硬伤啊!<br />
        　最痛苦的不是你看不明白，是你看明白了，却做不出来想要的结果.</p></div></td>
  </tr>
</table>
<table width="620" border="0" align="center" cellspacing="0" bgcolor="#FFFFFF" class="solid-top">
  <tr>
    <td class="grey" style="padding-left:6px"> </td>
  </tr>
</table>
 <p id="back"><a href="/">返回首页</a></p> 
<p>&nbsp;</p>
</body>
</html>
